/* Reset básico */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  /* Fundo da página */
  body {
    background: linear-gradient(135deg, #a50f1b, #237405);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container do cartão */
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  /* Cartão */
  .card {
    background: #ffffffa6;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;
    max-width: 500px;
    width: 100%;
  }
  
  /* Layout do conteúdo */
  .card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  /* Imagem */
  .card-image {
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Texto */
  .card-text {
    text-align: left;
  }
  
  .card-text h1 {
    font-size: 1.8rem;
    color: #d64550;
    margin-bottom: 15px;
  }
  
  .card-text p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
  }
